<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
</head>
<body>
    {{if .Hobbies}}
        <ul>
            {{range $index, $hobby := .Hobbies}}
                <li>{{$index}} : {{$hobby}}</li>
            {{end}}
        </ul>
    {{else}}
        <p>No hobbies provided.</p>
    {{end}}
</body>
</html>
