<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Success</title>
</head>
<body>
    <h1>Upload Success</h1>
    <p>Name : {{.Name}}</p>
    <p>File : <a href="{{.FileUrl}}">{{.FileName}}</a></p>
    <p><a href="/">Upload lagi</a></p>
</body>
</html>
